In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import statistics

In [2]:
data1=[45,42,42,41,40]
data2=[54,48,42,33,33]

In [3]:
statistics.mean(data1)

42

In [4]:
statistics.mean(data2)

42

In [5]:
statistics.variance(data1)

3.5

In [6]:
statistics.variance(data2)

85.5

In [7]:
statistics.pstdev(data1)

1.6733200530681511

In [8]:
statistics.pstdev(data2)

8.270429251254132

In [9]:
data=sns.load_dataset("mpg")

In [10]:
data.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,usa,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,usa,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,usa,amc ambassador dpl

In [11]:
data["mpg"].max()-data["mpg"].min()

37.6

In [12]:
data['weight'].max()-data['weight'].min()

3527

In [13]:
statistics.pstdev(data["mpg"])

7.806159061274432

In [14]:
statistics.variance(data["mpg"])

61.0896107742744

In [15]:
data.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [16]:
statistics.pstdev(data["mpg"])/statistics.mean(data["mpg"])

0.3319711187745463

In [17]:
statistics.pstdev(data["weight"])/statistics.mean(data["weight"])

0.2847327708429478

In [18]:
data.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [19]:
statistics.pstdev(data1)/statistics.mean(data1)

0.03984095364447979

In [21]:
statistics.pstdev(data2)/statistics.mean(data2)

0.19691498217271744